<div class="cardPrincipal">
  <div class="headerLogin">
    <p class="headerText tituloPagina">Serviços</p>
  </div>

  {{#if servicos.length}}
    <p class="tituloUsuario">
      Serviços cadastrados por <strong>{{user.nome}}</strong>:
    </p>

    <div class="listaServicos">
      {{#each servicos}}
        <div class="itemServico">
          <span class="categoriaServico">{{this.categoria}}</span>
          <h3>{{this.nome}}</h3>
          <p class="precoServico">R$ {{this.preco}}</p>
          <p>{{this.descricao}}</p>
          <div class="botoesServico">
            <button class="botaoEditar" type="button" onclick="editarServico('{{this.id}}')">Editar</button>
            <button class="botaoApagar" type="button" onclick="apagarServico('{{this.id}}')">Apagar</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <div class="semServicos">
      <h3>Olá, {{user.nome}} 👋</h3>
      <p>Você ainda não possui serviços cadastrados.</p>
      <a href="/servicos/cadastrar" class="botao botaoConfirmar">Cadastrar meu primeiro serviço</a>
    </div>
  {{/if}}
</div>

<script src="/js/main.js"></script>
