<div class="visualizar-evento-container">

  <section class="titulo-evento">
    <a href="/eventos" class="btn-voltar-topo">← Voltar</a>
    <h1>{{nomeEvento}}</h1>

    {{#if (eq evento.status "planejado")}}
      <a href="/eventos/editar/{{evento.id}}" class="btn-editar-topo">Editar Evento</a>
    {{else}}
      <a class="btn-editar-topo" 
        style="opacity: .35; cursor: not-allowed; pointer-events: none;">
        Editar Evento
      </a>
    {{/if}}
  </section>


  <section class="servicos-visualizacao">

    {{!-- ================================
         BOTÃO ADICIONAR SERVIÇO
         aparece somente se status = planejado
       ================================= --}}
    {{#if (eq evento.status "planejado")}}
      <div class="servico-card">
        <div class="servico-esquerda">
          <a href="/eventos/{{evento.id}}/adicionar-servicos" class="servico-link">
            <div class="servico-img" title="Adicionar novos serviços">+</div>
          </a>
          <div class="servico-info">
            <h2>Adicionar Serviço</h2>
            <p>Clique no + para buscar mais opções</p>
          </div>
        </div>
      </div>
    {{/if}}

    {{!-- =================================
         LISTA DOS SERVIÇOS DO EVENTO
       ================================= --}}
    {{#each servicos}}
      <div class="servico-card">
        <div class="servico-esquerda">
          <div class="servico-img">
            {{#if this.imagens.[0]}}
              <img src="{{this.imagens.[0]}}" alt="Foto">
            {{else}}
              <span style="font-size:12px; color:#555;">Sem foto</span>
            {{/if}}
          </div>

          <div class="servico-info">
            <span class="categoria-badge">{{this.categoriaLabel}}</span>
            <h2>{{this.nome}}</h2>
            <p>{{this.descricao}}</p>
          </div>
        </div>

        <div class="servico-direita">
          <span>R$ {{this.preco}}</span>

          {{#if ../eventoFinalizado}}
            
            {{#if this.temAvaliacao}}
              <a class="btn-avaliacao" href="/eventos/{{../evento.id}}/avaliacao/ver/{{this.id}}">
                Ver Avaliação
              </a>

              <a class="btn-editar" href="/eventos/{{../evento.id}}/avaliacao/editar/{{this.id}}">
                Editar
              </a>

              <form action="/eventos/{{../evento.id}}/avaliacao/excluir/{{this.id}}" method="POST" style="display:inline;">
                <button class="btn-excluir">Excluir Avaliação</button>
              </form>

            {{else}}
              <a class="btn-avaliar" href="/eventos/{{../evento.id}}/avaliar/{{this.id}}">
                Avaliar Serviço
              </a>
            {{/if}}

          {{/if}}
        </div>


      </div>
    {{/each}}
    
  </section>

  <footer class="total-footer">
    <button class="btn-total">TOTAL R$ {{total}}</button>
  </footer>

</div>
