<form id="formFoto" action="/perfil/upload-foto" method="POST" enctype="multipart/form-data">
  <input type="file" id="inputFoto" name="fotoPerfil" style="display:none" onchange="this.form.submit()">
</form>

<div class="foto-perfil" onclick="document.getElementById('inputFoto').click()">
  {{#if usuario.photoURL}}
    <img id="fotoExibida" src="{{usuario.photoURL}}" onerror="this.src='/assets/rosa.jpg'" />
  {{else}}
    <img id="fotoExibida" src="/assets/editar_foto_perfil.png" />
  {{/if}}
  <div class="editar-texto">Clique para editar</div>
</div>


    <div class="info-usuario">
      <h3>{{#if usuario.nome}}{{usuario.nome}}{{else}}Usuário{{/if}}</h3>
    </div>

    <div class="perfil-meta-container">
      <div class="stats" style="display:flex; gap:40px;">
        <div style="width:150px;">
          <p><strong>Avaliações feitas</strong></p>
          <p style="text-align:center; font-weight:bold; font-size:18px;">{{avaliacaoOrganizador}}</p>
        </div>

        <div style="width:150px;">
          <p><strong>Eventos Realizados</strong></p>
          <p style="text-align:center; font-weight:bold; font-size:18px;">{{eventosRealizados}}</p>
        </div>
      </div>

      <div class="perfil-editar-btn-container">
        <a href="/perfil/editar" class="btn btn-editar-perfil">Editar Perfil</a>
      </div>
    </div>
  </section>

  <hr>

  <div class="container-secoes">
    <section class="secao">
      <h2>Meus Eventos</h2>
      <div class="cards">
        {{#if eventos.length}}
          {{#each eventos}}
            <a href="/eventos/editar/{{this.id}}" class="card card-evento">

              <p class="card-evento-nome">{{this.nome}}</p>
            </a>
          {{/each}}
        {{else}}
          <p>Nenhum evento ainda</p>
        {{/if}}
      </div>

      <div class="botoes">
        <a href="/eventos/novo" class="btn">Criar evento</a>
      </div>
    </section>

    <hr>

    <section class="secao">
      <h2>Empresas Favoritas</h2>
      <div class="cards">
        {{#if favoritos.length}}
          {{#each favoritos}}
            <a href="/fornecedor/{{this.id}}" class="card card-empresa">

              {{!-- Foto da empresa (primeira imagem se existir) --}}
              {{#if this.imagens}}
                {{#if this.imagens.[0]}}
                  <img src="{{this.imagens.[0]}}" class="card-empresa-foto" alt="Imagem da empresa">
                {{else}}
                  <div class="card-empresa-placeholder">Sem imagem</div>
                {{/if}}
              {{else}}
                <div class="card-empresa-placeholder">Sem imagem</div>
              {{/if}}

              <p class="card-empresa-nome">{{this.nome}}</p>
            </a>
          {{/each}}
        {{else}}
          <p>Nenhuma empresa favorita ainda.</p>
        {{/if}}
      </div>
      <div class="botoes">
        <a href="/empresas" class="btn">Ver Todas Empresas</a>
      </div>
    </section>
  </div>
</div>